.nuxtLogo {
  height: 180px;
}
.roomContainer {
  display: grid;
  grid-gap: 0;
  grid-template-rows: 106px 106px 106px 106px;
}
.roomBox {
  display: flex;
  align-items: center;
  justify-content: left;
  border-right: 1px solid #333;
  border-bottom: 1px solid #333;
}
